.dashboard-container {
  padding: 20px;
}

.dashboard-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cards-grid {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 200px;
}

.chart-title {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}

.chart-box {
  width: 100%;
  height: 350px; /* altura fixa para o gráfico */
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 40px;
}

